@import "tailwindcss";
@import "../../public/css/UIComponents.css";
@import "../../public/css/TableComponents.css";
@import "../../public/css/TableComponents2.css";
@import "../../public/css/Colors.css";

@theme {
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-primary: #4f46e5;
  --color-secondary: #22c55e;
  --color-success: #16a34a;
  --color-danger: #dc2626;
  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-border: #4f6e96;
  --color-primary-50: #e9ebf3;
  --color-primary-100: #b9c2db;
  --color-primary-200: #98a4c9;
  --color-primary-300: #687bb1;
  --color-primary-400: #4b61a1;
  --color-primary-500: #1e3a8a;
  --color-primary-600: #1b357e;
  --color-primary-700: #152962;
  --color-primary-800: #12104c;
  --color-primary-900: #0d183a;

  --color-secondary-50: #e7f8f2;
  --color-secondary-100: #b5e8d9;
  --color-secondary-200: #91dfc5;
  --color-secondary-300: #5fd0ab;
  --color-secondary-400: #40c79a;
  --color-secondary-500: #10b981;
  --color-secondary-600: #0fa981;
  --color-secondary-700: #0d835c;
  --color-secondary-800: #096647;
  --color-secondary-900: #074736;
  --font-primary: "Inter", sans-serif;
  --text-xl: 1.25rem;
  --font-weight-semibold: 600;
  --spacing-4: 1rem;
  --radius-lg: 0.5rem;
  --shadow-arya: 0 0 40px -4px;
  --shadow-arya2: 0 0 20px -4px;
  --breakpoint-3xl: 120rem;
}
