@import "tailwindcss";
@import "../../public/css/UIComponents.css";
@import "../../public/css/TableComponents.css";
@import "../../public/css/Colors.css";

@theme {
  --color-light: #f0f0f0;
  --color-dark: #202020;
  --color-primary: #4f46e5;
  --color-secondary: #22c55e;
  --color-success: #16a34a;
  --color-danger: #dc2626;
  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-border: #4f6e96;
  --font-primary: "Inter", sans-serif;
  --text-xl: 1.25rem;
  --font-weight-semibold: 600;
  --spacing-4: 1rem;
  --radius-lg: 0.5rem;
  --shadow-arya: 0 0 40px -4px;
  --shadow-arya2: 0 0 20px -4px;
  --breakpoint-3xl: 120rem;
}

